
!!!!! ONLY EXAMPLES !!!!!

DB_CONNLIMIT = 10
DB_MULTI_QUERY = true
DB_HOST = 'localhost'
DB_USER = 'root'
DB_PORT = 3306
DB_PASS = ''
DB_NAME = 'weatherapp_2026'
DB_TIMEZONE = "Europe/Budapest"
APP_PORT = = 3000;